pandas==1.4.3
numpy==1.23.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
matplotlib==3.1.2
scipy==1.4.1
scikit-learn==1.0.2
scikit-learn==1.0.2
cloudpickle==1.4.1
pickleshare==0.7.5
